SECRET_KEY = django-secret-change-me

REMOTE_CHAT_CHAT_PATH = http://127.0.0.1
CHAT_CHAT_MANAGER_PORT = 8001
MODEL_BASE_PORT = 7861
CHAT_GLM_PORT = 8000
GLM3_OPENAI_PORT = 20005

DEEPSEEK_API_KEY = your-deepseek-api-key

WKHTMLTOPDF_PATH = /usr/bin/wkhtmltopdf

# SQLite
DB_ENGINE = django.db.backends.sqlite3
DB_NAME = development.sqlite3

# MySQL
DB_ENGINE = django.db.backends.mysql
DB_NAME = EPP
DB_USER = your-username
DB_PASSWORD = your-password
DB_HOST = 127.0.0.1
DB_PORT = 3306

ADMIN_USERNAME = admin
ADMIN_PASSWORD = change-me

SIMPLIFY_TRANS_KEY = your-simplify-trans-key

CENSOR_API_KEY = your-censor-api-key
CENSOR_SECRET_KEY = your-censor-secret-key

JWT_SECRET_KEY = your-jwt-secret-key

MINIO_ENDPOINT = 127.0.0.1:9000
MINIO_ACCESS_KEY = your-minio-access-key
MINIO_SECRET_KEY = your-minio-secret-key

TAVILY_API_KEY = your-tavily-api-key
